/* component/Box.js */
.box { border: 1px solid black; width: 500px; text-align: center;}
.item-img { width: 250px; height: 250px; }
.win { border: 5px solid red; }
.lose { border: 5px solid gray; }
.tie { border: 5px solid black;}

/* App.js */
.main { display: flex; justify-content: center; gap: 20px; padding-top: 20px;}

