/* component/Box.js */
.box {width: 500px; text-align: center;}
.item-img { width: 250px; height: 250px; }
.win { border: 8px solid #4CAF50; }
.lose { border: 8px solid #F44336; }
.tie { border: 8px solid black;}

/* App.js */
.main { display: flex; justify-content: center; gap: 20px; padding-top: 20px;}
.main button{ width: 150px; height: 40px; font-size: 20px; font-weight: bold; border-radius: 5px;}

